body {
  font-family: source-han-sans-japanese, sans-serif;
  margin: 0;
  font-size: 16px;
  color: #333;
}

header {
  background: #003a82;
  color: #ffffff;
  text-align: center;
}

header h1 {
  margin: 0;
  padding-top: 64px;
}

header img {
  width: 250px;
  height: auto;
  vertical-align: bottom;
}

.btn {
background: #e64629;
color: #ffffff;
text-decoration: none;
display: block;
width: 130px;
line-height: 35px;
margin: 50px auto;
border-radius: 4px;
}

.btn:hover {
opacity: 0.9;
}

.features h1 {
  text-align: center;
  font-weight: normal;
  margin: 100px auto 0px;
  font-size: 20px;
}

.features img {
  width: 100%;
  margin-top: 30px;
}

.features .container {
  margin: 0 64px;
}

.features h2{
  margin: 0;
  font-size: 16px;
}

.subjects {
  background: #f2f2f3;
}

.subjects h1 {
  text-align: center;
  font-weight: normal;
  margin: 10px auto 0px;
  padding-top: 60px;
  font-size: 20px;
}

ul {
  text-align: center;
  padding: 0 0 30px 0;
}

li {
  list-style: none;
}

li img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
}

li h2,
li p {
  margin: 0;  
}

.img {
  text-align: center;
}

.img h1 {
  margin: 100px auto 30px;
}

.img img {
  width: calc(100% - 40px);
  padding: 30px 20px;
}

.call-to-action {
  background: #003a82;
  color: #ffffff;
  height: auto;
  text-align: center;
}

.call-to-action h1 {
  font-weight: normal;
  font-size: 20px;
  padding: 32px 0 0 0;
}

.call-to-action .btn {
  margin: 0 auto;
}

footer {
  background: #333;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}


@media (min-width: 800px){
  
  header{
    display: flex;
    justify-content: center;
  }

  header .pic{
    margin: 50px 0 0 30px;
  }

  .features .container{
    width: 1000px;
    margin: 0 auto;
  }

  .features section{
    display: flex;
  
  }

  .features img{
   width: 500px;
   margin-top: 30px;
  }

  .features .info {
   width: 500px;
   margin: 180px 30px;
   
  }

  .features section:nth-child(even) {
    flex-direction: row-reverse;
  }

  ul {
    width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  
  .img h1 {
    margin: 100px auto;
  }

  .img img {
   width: calc(100% - 60px);
   padding: 30px 30px;
  }

}
